body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(207 250 254);
  color: black;
  text-align: center;
  padding: 20px;
  
}

/* body {
  background-color: rgb(236 254 255);
} */

section {
  margin: 20px;
}

h2 {
  color: #333;
}
